:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: var(--text-color);
}
.menu-primary-enter {
  position: absolute;
  transform: translateX(110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}
.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.menu-primary-left-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.menu-primary-left-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 500ms, transform 500ms;
}

.menu-primary-left-exit {
  opacity: 1;
  transform: translateX(0%);
}

.menu-primary-left-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 500ms, transform 500ms;
}

.menu-primary-right-enter {
  opacity: 0;
  transform: translateX(100%);
}

.menu-primary-right-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 500ms, transform 500ms;
}

.menu-primary-right-exit {
  opacity: 1;
  transform: translateX(0%);
}

.menu-primary-right-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
}

.menu-secondary-left-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.menu-secondary-left-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 500ms, transform 500ms;
}

.menu-secondary-left-exit {
  opacity: 1;
  transform: translateX(0%);
}

.menu-secondary-left-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 500ms, transform 500ms;
}

.menu-secondary-right-enter {
  opacity: 0;
  transform: translateX(100%);
}

.menu-secondary-right-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 500ms, transform 500ms;
}

.menu-secondary-right-exit {
  opacity: 1;
  transform: translateX(0%);
}

.menu-secondary-right-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
}
/* Add these classes to your CSS styles */
/* Add these CSS classes to your stylesheet */
.itemStyle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 18px;
  padding-left: 18px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.espace {
  height: 850px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #242526;
  border: 1px solid #474a4d;
  top: 67px;
  position: absolute;
  right: 20px;
}

/* Adjust the order based on your needs */
.espace > ul {
  order: 2;
}

/* Adjust the order based on your needs */
.espace > div {
  order: 1;
}

/* Add this style to make sure the children fill the height of .espace */
